/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* browser styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9114a;
  height: 10%;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

/* scroll behavior */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* font style and colors */
h1,
h2,
h3,
h4 {
  color: #1e212a;
  font-family: "Montserrat", sans-serif;
}

td,
p,
a {
  color: #1e212a;
  font-family: "Poppins", sans-serif;
}

/* section height */
section {
  min-height: calc(100vh - 64px);
}

/* hero section video */
.video {
  width: 100% !important;
  height: calc(100vh - 64px);
  object-fit: cover;
}

/* footer text color */
.footer p,
a {
  color: #fafafa;
}
